body{
  width: 600px
}

.wi.today{
  font-size:50px;
  color: #33b3d8;
  margin-top: 15px;
  margin-left: -5px;
}

.wi.other-days{
  font-size: 32px;
  margin-bottom: 4px;
}

.wi.other-days.rain{
  color: #37525e;
}

.wi.other-days.snow{
  color: #33b3d8;
}

.wi.other-days.cloud{
  color: white;
}

.wi.other-days.sun{
  color: white;
}

.wi.other-days.storm{
  color: #37525e;
}

.error{
  height: 400px;
  background: #e5e5e5;
  text-align: center;
  padding-top: 50px
}

.error h1{
  color: black;
  text-transform: none;
  font-family: initial;
  margin-bottom: 10px
}

.retry{
  color: #000;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  border-radius: 0;
  font-size: 20px;
}
