<div ng-show="!showErrorPage && !showLoadingPage" class="main">
  <div class="content">
    <div class="content-top">
      <div class="content-left">
        <h6>{{today.date}}</h6>
        <h2>{{today.temp + '°' + unit}}</h2>
      </div>
      <div class="content-right">
        <h5>{{today.weather}}</h5>
        <i class="wi today" ng-class="today.weather | weatherToClass"></i>
      </div>
      <div ng-repeat="day in nextDays" class="content-last">
        <h6>{{day.name}}</h6>
        <i class="wi other-days" ng-class="day.weather | weatherToClass"></i>
        <p>{{day.temp + '°' + unit}}</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="strip"></div>
    <div class="banner-bottom" ng-style="{'background': cityImageUrl,
                                          'min-height': '270px',
                                          'position': 'relative',
                                          'background-size': 'cover',
                                          '-webkit-background-size': 'cover',
                                          '-o-background-size': 'cover',
                                          '-ms-background-size': 'cover',
                                          '-moz-background-size': 'cover'}">

      <div class="con-left">
        <p><i></i>{{city}}</p>
      </div>
      <div class="con-right">
        <!--<input style="outline: none" type="image" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" src="images/settings.png" />-->
      </div>

      <div class="clear"></div>

    </div>
  </div>
</div>

<div ng-show="showErrorPage" class="main">
  <div class="error">
    <img src="images/error.png" width="150px" />
    <br/>
    <br/>
    <h1>No connection</h1>
    <br/>
    <button ng-click="retry()" class="btn retry">Retry</button>
  </div>
</div>

<div ng-show="showLoadingPage" class="main">
  <div class="loading">
    <img src="images/loading.gif" width="600" height="400px" />
  </div>
</div>

<!--
<div uib-collapse="isCollapsed">
  <div>Some content</div>
</div>
-->

<dov id="main"></dov>
